
h2{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 80px;
}
a{
  text-decoration: none;
}

.indexpicture1{
  width: 60%;
  height: 500px;
  background-color: red;
  float: left;
}
.news{
  float: left;
  height: 400px;
  background-color: transparent;
  width: 40%;
}
.box {
  width: 33%;
  margin: 10px auto;
  background-color: transparent;
  float: left;
  height: 600px;
}

.box-bg {
  width: 100%;
  height: 300px;
  overflow: hidden;
  text-align: center;
    vertical-align: middle;
    
}

.box-bgimg {
  width: 100%;
  height: 100%;
  object-fit:contain;
}


.abutton{
  float: right;
  height: 200px;
  width: 50%;
  background-color: transparent;
 
}
.abutton img{
  width: 100%;
  height: 80%;
  object-fit:contain;
}
.abutton a{
  vertical-align:middle;
  display:table-cell;
  padding-left: 330px;
}

.app {
  width: 50%;
  text-align: center;
  float: left;
  
}

.app .scroll {
  position: relative;
  display: inline-block;
  text-align: center;
  object-fit:contain;
  height: 400px;
  height: 100%;
  width: 100%;
}

.app .scroll .img {
  display: none;
  object-fit:contain;
  max-height:400px;
  max-width: 600px;
}

.app .scroll .current {
  display: block;
}

.scroll .lf {
  position: absolute;
  top: 50%;
  left: 10px;
  background-image: url('../img/l.png');
  background-size: contain;
  background-repeat:no-repeat;
  width: 30px;
  height: 20px;
  cursor: pointer;
  transform: translateY(-50%);
}

.scroll .lr {
  position: absolute;
  top: 50%;
  right: 10px;
  background-image: url('../img/r.png');
  background-size: contain;
  background-repeat:no-repeat;
  width: 30px;
  height: 20px;
  cursor: pointer;
  transform: translateY(-50%);
}

.dots {
  position: absolute;
  bottom: 15px;
  right: 20px;
  width: 160px;
}

.dots>span {
  display: inline-block;
  box-sizing: border-box;
  width: 11px;
  height: 11px;
  border: 3px solid rgba(204, 204, 204, 0.2);
  border-radius: 15px;
  cursor: pointer;
}

.dots>span:not(:last-child) {
  margin-right: 5px;
}

/* 小圆点的颜色 */
.dots .square {
  background: #f46;
}

.picbox{
  height: 400px;
  margin-left: 100px;
}

